body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ab3fc0 0%, #4f6fa8 50%,  #a5afc2 100%);
}


code {
  font-family:'Courier New', Courier, monospace;
}